{% extends 'layout1.html' %}
{% block title %}
StreamNow - Forget Password
{% endblock %}

{%block headdata %}
<div id="flashes"></div>


{%endblock%}


{% block modalconetnt %}


<div class="modal" tabindex="-1" role="dialog" id="chpasslink-sent-Modal">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>


{% endblock %}




{% block formdiv %}


<div class="login-wrap p-4 p-md-5 form-div " id="form-div">
    <div class="d-flex">
        <div class="w-100">
            <h3 class="mb-4">
                <p style="font-size:24px">Forget Password</p>
                <p style="font-size:15px">Enter the email registered with the account.</p>
            </h3>
        </div>
        <div class="w-100">
            <p class="social-media d-flex justify-content-end">
                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                        class="fa fa-facebook"></span></a>
                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                        class="fa fa-twitter"></span></a>
            </p>
        </div>
    </div>

    <form class="signin-form center-form  clearfix" id="Email-Form">
        <div class="form-group mb-3">
            <label class="label" for="email">Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" id="email"
                 required>
        </div>
        <div class="form-group">
            <button type="button" class="form-control btn btn-primary rounded submit px-3"
                id="email-next-btn">Next</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scriptfile %}

<script>
    
    function unhideMainContent(){
        document.getElementById("loader").style.display = "none"
        document.getElementById("main-content").style.display = "block"
    }
    
    function hideMainContent(){
        document.getElementById("main-content").style.display = "none"
        document.getElementById("loader").style.display = "block"
    }

    $('#email-next-btn').on("click", function (e) {
        
        
        let email = document.getElementById("email").value
        hideMainContent()

        $.ajax({
            url: "/forgot-password?email=" + email,
            type: "POST",
            success: function (resp) {

                console.log(resp)
                
                let flashMsgDiv = document.getElementById("flashes")
                if (resp == "Operation Failed!") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>There is some problem in contacting to the server! Try again after some time.<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    unhideMainContent()
                    
                }
                else if (resp == "Something Went Wrong") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>Something Went Wrong!<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    unhideMainContent()
                    
                }
                else if (resp == "Problem In Contacting") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>There is some problem in contacting to the server! Try again after some time.<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    unhideMainContent()
                    
                }
                else if (resp == "Mail Problem!") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>There was some problem in sending the Email! Try again after some time.<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    unhideMainContent()
                    
                }
                else if (resp == "No Account Found!") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>No Account Found!<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></div >`
                    unhideMainContent()

                }
                else {
                    document.getElementById("loader").style.display = "none"
                    $('#chpasslink-sent-Modal').on('hidden.bs.modal', function () {
                        window.location.href = "/login"
                    });
                    $('#chpasslink-sent-Modal').modal('show');
                }
            }
        })
        
    });

       
</script>
{% endblock %}