{% extends 'layout1.html' %}
{% block title %}
StreamNow - Forget Password
{% endblock %}

{%block headdata %}
<div id="flashes"></div>
<!-- <style>
    .spinner-border {
        margin-top: 100px;
        margin-bottom: 100px;
    }
</style> -->
<style>


    .form-div {
        height: 400px;
    }

    .content-center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .spinner-border {
        width: 60px;
        height: 60px;
    }



</style>

{%endblock%}




{% block formdiv %}

<!-- 
<div class="spinner-grow text-warning" role="status" id="loader">
    <span class="sr-only">Loading...</span>
</div> -->


<div class="login-wrap p-4 p-md-5 form-div " id="form-div">
    <div class="d-flex">
        <div class="w-100">
            <h3 class="mb-4">
                <p style="font-size:24px">Forget Password</p>
                <p style="font-size:15px">Enter the email registered with the account.</p>
            </h3>
        </div>
        <div class="w-100">
            <p class="social-media d-flex justify-content-end">
                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                        class="fa fa-facebook"></span></a>
                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                        class="fa fa-twitter"></span></a>
            </p>
        </div>
    </div>

    <form class="signin-form center-form  clearfix" id="Email-Form">
        <div class="form-group mb-3">
            <label class="label" for="email">Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" id="email"
                value="{{values.email}}" required>
        </div>
        <div class="form-group">
            <button type="button" class="form-control btn btn-primary rounded submit px-3"
                id="email-next-btn">Next</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scriptfile %}

<script>

    $('#email-next-btn').on("click", function (e) {
        e.preventDefault
        load_otp_form()
    });
    
    
    


    const loader = `<div class="d-flex justify-content-center content-center">
        <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
        </div>
    </div>`


    function active_otp_form(email , id){
        $('#form-div').empty()

        let formHead = `    <div class="d-flex">
            <div class="w-100">
                <h3 class="mb-4">
                    <p style="font-size:24px">Forget Password</p>
                    <p style="font-size:15px">Enter the otp send to ${email}</p>
                </h3>
            </div>
            <div class="w-100">
                <p class="social-media d-flex justify-content-end">
                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                            class="fa fa-facebook"></span></a>
                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                            class="fa fa-twitter"></span></a>
                </p>
            </div>
        </div>`

        let mainForm = `    <form class="signin-form center-form  clearfix" id="Otp-Form">
            <div class="form-group mb-3">
                <input type="hidden" class="form-control" id="email"
                    value="${email}">
            </div>
            <div class="form-group mb-3">
                <input type="hidden" class="form-control" id="id"
                    value="${id}">
            </div>
            <div class="form-group mb-3">
                <label class="label" for="otp">ONE TIME PASSWORD</label>
                <input type="text" class="form-control" placeholder="" name="otp" id="otp" minlength="6" maxlength="6"
                pattern="[0-9]{6}" required>
            </div>
            <div class="form-group">
                <button type="button" class="form-control btn btn-primary rounded submit px-3"
                    id="otp-submit-btn">Submit</button>
            </div>
        </form>
        <p class="text-center">Didn't received otp? <a data-toggle="tab" onclick="resend_otp()" href=""
                id="resend_otp_button">Resend it</a></p>
        <p class="text-center" id="resend_otp_msg"  style = "display: none;">Resending Otp...</p>
        <p id="countdown" class=" text-center"></p>
        <p class="text-center" style="font-size: 13px;">(Otp is valid for only 5 minutes)</p>
        
        `

        $('#form-div').append(formHead , mainForm)

        $(function() {
            $("input[name='otp']").on('input', function(e) {
                $(this).val($(this).val().replace(/[^0-9]/g, ''));
            });
        });

        $('#otp-submit-btn').on("click", function (e) {
            load_password_form()
        });
        


    }

    function active_email_form(email){
        $('#form-div').empty()

        let formHead = `    <div class="d-flex">
            <div class="w-100">
                <h3 class="mb-4">
                    <p style="font-size:24px">Forget Password</p>
                    <p style="font-size:15px">Enter the email registered with the account.</p>
                </h3>
            </div>
            <div class="w-100">
                <p class="social-media d-flex justify-content-end">
                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                            class="fa fa-facebook"></span></a>
                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                            class="fa fa-twitter"></span></a>
                </p>
            </div>
        </div>`

        let mainForm = `    <form class="signin-form center-form  clearfix" id="Email-Form">
            <div class="form-group mb-3">
                <label class="label" for="email">Email</label>
                <input type="email" class="form-control" placeholder="Email" name="email" id="email"
                    value="${email}" required>
            </div>
            <div class="form-group">
                <button type="button" class="form-control btn btn-primary rounded submit px-3"
                    id="email-next-btn">Next</button>
            </div>
        </form>`

        $('#form-div').append(formHead , mainForm)
        
        $('#email-next-btn').on("click", function (e) {
            load_otp_form()
        });

    }


    function load_otp_form(){
        
        let email = document.getElementById("email").value

        $('#form-div').empty()
        $('#form-div').append(loader)


        $.ajax({
            url: "/forgot-password?email=" + email,
            type: "POST",
            success: function (resp) {

                console.log(resp)
                
                let flashMsgDiv = document.getElementById("flashes")
                if (resp == "Operation Failed!") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>There is some problem in contacting to the server! Try again after some time.<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    active_email_form(email)
                    
                }
                else if (resp == "Something Went Wrong") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>Something Went Wrong!<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    active_email_form(email)
                    
                }
                else if (resp == "Problem In Contacting") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>There is some problem in contacting to the server! Try again after some time.<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    active_email_form(email)
                    
                }
                else if (resp == "Mail Problem!") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>There was some problem in sending the otp to your Email!<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    active_email_form(email)
                    
                }
                else if (resp == "No Account Found!") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>No Account Found!<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></div >`
                    active_email_form(email)

                }
                else {
                    active_otp_form(email , resp)
                }
            }
        })
        
    }

    function load_password_form(){
        
        let otp = document.getElementById("otp").value
        let email = document.getElementById("email").value
        let id = document.getElementById("id").value

        $('#form-div').empty()
        $('#form-div').append(loader)


        $.ajax({
            url: "/forgot-password?email=" + email + "&id=" + id + "&otp=" + otp ,
            type: "POST",
            success: function (resp) {

                console.log(resp)
                
                let flashMsgDiv = document.getElementById("flashes")
                if (resp == "Operation Failed!") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>There is some problem in contacting to the server! Try again after some time.<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    active_email_form(email)
                    
                }
                else if (resp == "Something Went Wrong") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>Something Went Wrong!<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    active_email_form(email)
                    
                }
                else if (resp == "Problem In Contacting") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>There is some problem in contacting to the server! Try again after some time.<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    active_email_form(email)
                    
                }
                else if (resp == "Mail Problem!") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>There was some problem in sending the otp to your Email!<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></div >`
                    active_email_form(email)
                    
                }
                else if (resp == "No Account Found!") {
                    flashMsgDiv.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert"><span>No Account Found!<i></i></span><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></div >`
                    active_email_form(email)

                }
                else {
                    active_otp_form(email)
                }
            }
        })
        
    }



</script>

{% endblock %}